<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WhataBurger App</title>
    <!-- Styling Links: Bulma & Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1a3736a1bc.js"></script>
    <!-- JQuery and CSS file scripts -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <!-- JQuery and CSS file scripts -->
    <script type="text/javascript" src="/../burger2/public/assets/js/burgers.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>